<div class="container d-flex justify-content-center" style="margin-top:200px">
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="img/404.png" width="400px">
			<h1 class="display-4 fw-bold">Page Not Found</h1>
			<a 	class="btn btn-primary" href="/contact">Kembali ke halaman contact</a>
		</div>
	</div>
</div>