<h1>Hello <%= nama %></h1>
<h1>Ini adalah halaman Home</h1>




<!-- 	<h1>Daftar Mahasiswa</h1>
	<% if (mahasiswa.length < 1) { %>
	 <p>Data mahasiswa masih kosong</p>
	<%  } %>
	<%mahasiswa.forEach(mhs => { %>
	 <ul>
		<li>Nama  : <%= mhs.nama  %> </li>
		<li>Email : <%= mhs.email %></li>
	</ul>
	<%})%> -->